body{
    margin: 0;
    background: dimgray;
}

#contenedor{
    width: 500px;
    height: 600px;
    position: fixed;
    top: calc(50vh - 300px);
    left: calc(50vw - 250px);
    background: navy;
    border: 2px solid white;
    box-sizing: border-box;
}

#caja{
    width: 400px;
    height: 400px;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 50px;
    margin-bottom: 20px;
    background-image: url("img/fondo01.jpg");
    background-size: cover;
    transition: 2s;
}

ul{
    list-style: none;
    margin: 10px;
}

ul li{
    float: left;
    margin: 0px;
}

.img{
    width: 96.25px;
    height: 96.25px;
    margin-right: 5px;
    border: 2px solid white;
    box-sizing: border-box;
}